/* Container styles */
.container {
    min-width: 200px;
    min-height: 250px;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Metadata styles */
.metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #555;
}

.metadata-item {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
/* Enunciado styles */
.enunciado {
  text-align: center;
}

/* Parrafo styles */
.parrafo {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #666;
}

/*For the id*/
.id-number {
  font-size: 1rem;
  font-weight: bold;
}

/* button Container styles */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the buttons horizontally */
  gap: 1rem; /* Space between buttons */
  margin-top: 2rem;
  align-items: center; 
  width: 100%
}

/* Button styles */
.button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    min-width: 150px;
    margin: 0.5rem;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .container {
      padding: 1.5rem;
    }
    .enunciado {
      font-size: 1rem;
    }
    .alternativas-container {
      flex-direction: column;
      gap: 1rem;
    }
    .button {
      width: 100%;
      max-width: none;
    }
}
  